// FOOTER

.footer {
	background: $greyDark;
	color: $white;
	padding: 50px 0;
	position: relative;
	text-align: center;
	clear: both;

	a, p, span {
		color: $white;
		font-weight: 300;
	}

	.footer__title {
		display: block;
		clear: both;
		font-weight: 400;
		font-size: 20px;
		margin-bottom: 20px;
	}

	.column--info {
		text-align: center;

		a, p {
			display: block;
			clear: both;
		}
		@media only screen and (min-width: 641px) {
			text-align: left;
		}
	}
	.footer__copy {
		font-size: 14px;
		text-align: center;

		@media only screen and (min-width: 641px) {
			text-align: right;
		}
	}

	.column--accreditations {
		text-align: center;

		.acc-icon {
			display: inline-block;
			text-indent: 99999px;
			height: 105px;
			margin: 10px 0;



			&--bceqa {
				background: url('../images/accreditations/eqa-logo.png') no-repeat center center;
				background-size: contain;
				width: 75px;
			}

			&--ubcp {
				background: url('../images/accreditations/ubcp-logo.png') no-repeat center center;
				background-size: contain;
				width: 90px;
			}

			&--pctia {
				background: url('../images/accreditations/pctia-logo.jpg') no-repeat center center;
				background-size: contain;
				width: 77px;
			}

		}
		@media only screen and (min-width: 992px) {
			text-align: right;

			.acc-icon {
				margin-left: 20px;

				&:first-child {
					margin-left: 0;
				}
			}
		}
	}
	
	.separator {
		padding-top: 30px;
		border-top: 1px solid $greyLight;
		margin-top: 30px;
		display: block;
	}
}