@import 'components/_buttons';
@import 'components/_forms';
@import 'components/_icons';
@import 'components/_listings';
@import 'components/_modal';
@import 'components/_programs';
@import 'components/_riverflow';
@import 'components/_tabs';
@import 'components/_video';

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	min-width: 320px;
	margin: 0 !important;
	padding: 0 !important;
	float: none !important;
}

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
	background: url('../images/rio_christ_loader.png') no-repeat center center #333;
	display: none;
}

.body-content {
	transition: all 0.2s linear;
	
	&.loaded {
		opacity: 1;
	}
}

.row {
	position: relative;
	padding: 0 10px;
}

h1, h2, h3, h4, h5 {
	font-family: $lora;
	position: relative;
}

.page-title {
	font-size: $pageH1;
	color: $greyLight;
	text-align: center;
	margin-bottom: 50px;
}

p, span {
	font-family: $roboto;
	font-weight: 400;
	font-size: 16px;
	color: $greyLight;
}

a {
	font-family: $roboto;
	font-size: 16px;
	color: $grey;
	transition: all 0.2s linear;

	&:hover {
		color: $greyLight;
	}
}

.description {
	max-width: 730px;
	width: 100%;
	margin: 0 auto;
}

.bold {
	font-weight: 600;
}

.text-center {
	text-align: center;
}

.page-content {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 70px;
}

.flexible-content .row {
	padding: 20px 0;
}


.arrow-separator {
	width: 198px;
	height: 28px;
	background: url('../images/arrow-separator.png') no-repeat center center;
	margin: 20px auto;
	display: block;
}

.map {
	width: 100%;
	position: relative;
	margin: 3em 0;

	#map {
		width: 100%;
		height: 450px;
	}
}