@import 'components/_nav';

.logo {
    background: url('../images/newimage-logo.png') no-repeat center center;
    background-size: cover;
    display: block;
    text-indent: -99999px;
}

.header {
    height: 75px;
    background: $white;
    border-bottom: 1px solid $greyLight;
    position: relative;

    &__logo {
        float: left;
        width: 130px;
        height: 35px;
        margin-top: 18px;
    }
}

.menu-icon {
    position: absolute;
    right: 10px;
    top: 22px;
    width: 30px;
    height: 30px;
    background: url('../images/bars.svg') no-repeat center center;
    z-index: 10;
}

@media only screen and (min-width: 768px) {
    .header {
        height: 137px;

        &__logo {
            width: 300px;
            height: 72px;
            margin-top: 30px;
        }
    }
}