// Colors
$black: #000;
$white: #FFF;
$whiteBg: #f5f5f5;
$grey: #484848;
$greyLight: #919191;
$greyLighter: #b5b4b4;
$greyDark: #333333;
$btnGreen: #3aca4e;

// Programs

$filmActing: #8e09da;
$prostheticMakeup: #d70e0e;
$beautyMakeup: #fd8918;
$cosmethology: #10b73f;
$medicalEsthetics: #145bed;
$nailDesign: #e6149e;
$hairDesign: #d7a10e;
$teenCareer: #1ec8d3;


$gray: #434343;
$lightgray: #b3b3b3;
$green: #028834;

// Fonts
$lora: "Lora";
$roboto: "Roboto";

// Font sizes:

$navSize: 16px;

$heroTitle: 28px;
$heroCopy: 22px;
$buttonText: 18px;

$pageH1: 50px;
$pageH2: 28px;
$pageH3: 24px;
$pageH4: 20px;
$pageH5: 18px;

$fullSectionTitle: 40px;

$bodyCopy: 16px;
$hexagonCopy: 20px;