.banner {
    min-height: 350px;
    overflow: hidden;

    &__box {
        background: rgba(0, 0, 0, 0.5);
        padding: 20px;
        max-width: 90%;
        max-height: calc(100vh - 70px - 11.5em);
        width: 100%;
        min-height: 220px;
        height: auto;
        position: absolute;
        left: 5%;
        top: 120px;
        margin-left: 0;
        color: $white;
        z-index: 500;

        h2, span, p, a {
            color: $white;
            position: relative;
        }
        h2 {
            padding-bottom: 50px;
            margin-bottom: 25px;
            &:after {
                content: "";
                position: absolute;
                width: 90px;
                height: 32px;
                left: 50%;
                bottom: 0;
                margin-left: -45px;
                background: url(../images/rio_christ.png) no-repeat center center;
                background-size: cover;
            }
        }
    }

    &__content {
        position: relative;
        z-index: 10;

        h2, h3, h4, h5, span, p, a {
            color: $white;
            text-align: center;
        }
        h2 {
            margin-bottom: 1em;
        }
        .testimonial__text {
            font-style: italic;
            text-align: justify;
        }
        .testimonial__name {
            font-weight: 600;
            text-align: left;
            width: 100%;
            display: block;
        }
    }
}

.scroll-tip {
    position: relative;
    font-size: 14px;
    text-align: center;
    display: block;
    margin-top: 17px;
    padding-bottom: 7em;

    &:after {
        content: " ";
        position: absolute;
        left: 50%;
        top: 0;
        width: 50px;
        height: 50px;
        margin-left: -25px;
        background: url("../images/down-arrow.svg") no-repeat center center;
        background-size: cover;
        animation: scroll_anim 4s infinite 0s;
    }
}

@-webkit-keyframes scroll_anim {

    0% { 
        top: 0;
    }

    5% {
        top: 10px;
    }

    10% {
        top: 0;
    }

    15% {
        top: 10px;
    }

    20% {
        top: 0;
    }

    100% {
        top: 0;
    }
}

@media only screen and (min-width: 64.063em) {
    .banner {
        &__box {
            left: calc(50% - 350px);
            top: calc(120px + 50px);
            padding: 25px;
            max-width: 700px;
            width: 100%;
            height: auto;
        }
        &.owl-carousel {
            height: calc(100vh - 70px - 8.5em);
        }
        &--locations {
            height: calc(100vh - 150px);
        }
    }
}