label {
	font-size: 16px;
	margin-bottom: 0;
	line-height: 1;
}

span.wpcf7-form-control-wrap {
	display: block;
	margin-top: -1em;
}

.wpcf7-file {
	background: transparent;
}
.wpcf7-form-control {
	text-transform: none;
}
span.wpcf7-not-valid-tip {
	position: absolute;
	bottom: -18px;
	font-size: 12px;
}

.contact-form {
	margin-bottom: 50px;
}